################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplicationSub/.vs/WebApplicationSub/v15
